{% extends "maestra.html" %}
{% block titulo %} Juegos {% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Juegos</h3>
            <div class="mb-4">
                <a href="{{url_for('formulario_agregar_juego')}}" class="button is-success">Agregar</a>
                
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('auth.logout') }}" class="button is-warning ml-2">Cerrar Sesión</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" class="button is-link ml-2">Iniciar Sesión</a>
                {% endif %}
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for juego in juegos %}
                    <tr>
                        <td>{{juego.nombre}}</td>
                        <td>{{juego.descripcion}}</td>
                        <td>{{juego.precio}}</td>
                        <td>
                            <a href="{{url_for('editar_juego', id=juego.id)}}" class="button is-info">Editar</a>
                        </td>
                        <td>
                            <form action="{{url_for('eliminar_juego')}}" method="POST">
                                <input type="hidden" name="id" value="{{juego.id}}">
                                <button class="button is-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}