<form method="POST">
    {{ form.hidden_tag() }} <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div style="color: red;">{{ message }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}
</form>